@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=MuseoModerno&display=swap');

$dark-purple: #464159;
$light-purple: #6c7b95;

body {
	font-family: 'Lato', sans-serif;

	span {
		font-family: 'MuseoModerno', serif;
	}
}
