@import 'general';

body {
	color: $dark-dark-purple;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: linear-gradient($light-purple, $dark-purple);
}


div #about {
	text-align: center;
	margin-top: 1em;
	margin-bottom: auto;
	display: block;

	div {
		margin: 1em;
	}

	span {
		font-size: 1.5em;
		animation: fadeIn 1s;
		animation-fill-mode: both;
		animation-delay: 1s;
	}

	#profile-pic {
		img {
			animation: propicLoad 1.5s;
			object-fit: cover;
			object-position: 50% 80%;
			width: 12em;
			height: 12em;
			border-radius: 50%;
			filter: grayscale(100%);
			transition: all 0.50s ease-in-out;

			&:hover {
				filter: grayscale(0%) drop-shadow(0 0 2rem $dark-purple);
				transform: scale(1.1);
			}
		}
	}

	#links {
		animation: fadeIn 1s;
		animation-fill-mode: both;
		animation-delay: 2s;

		a .icon {
			padding: 10px;
			border-radius: 50%;
			color: $dark-dark-purple;
			text-decoration: none;
			margin: 0.25em;
			transition: background 0.50s ease-in-out;

			&:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}
}
